[Desktop Entry]
Encoding=UTF-8
Name=Cupcoin
Comment=Cupcoin P2P Cryptocurrency
Exec=cupcoin-qt %u
Terminal=false
Type=Application
Icon=cupcoin128
MimeType=x-scheme-handler/cupcoin;
Categories=Office;Finance;
Name[en_US]=cupcoin-qt.desktop
